@font-face {
    font-family: 'Dunkin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dunkin Regular'), url('Dunkin.woff') format('woff');
    }

@font-face {
    font-family: 'Dunkin Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Dunkin Bold'), url('Dunkin Bold.woff') format('woff');
    }

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400; // normal
	font-style: normal;
}

.tagline {
    font-family: DunkinSansDisplay, 'Dunkin Bold';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    color: #db0a81; 
text-align: center;
}

.subtagline{ 
    font-family: DunkinSansBook, 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 0;
    color: #333;
text-align: center;
}

.nav{ 
    font-family: 'Dunkin Regular', DunkinSansBook,'Montserrat',sans-serif;
    font-style: normal;
    font-size: 14px; 
    color: #333;
    font-weight: bold;
	text-align: center;
}

.h2{ 
    font-family: DunkinSerifBold, 'Montserrat';
    font-weight: bold;
    color: #333;
    font-size: 20px;
    line-height: 1;
	text-align: center;
   }

.p{ 
   font-family: DunkinSansBook,'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.15rem;
    margin-top: 0.25rem;
    line-height: 1.3;
    color: #333;
	text-align: center;
}
